/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Body */

body {
  max-width: 45rem;
  margin: 0 auto;
  padding: 0 1rem;
  counter-reset: counterH2;
  line-height: 1.8;
  font-family: Geneva, 'Trebuchet MS', 'Lucida Sans', Tahoma, "-apple-system", system-ui, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  text-decoration-skip: ink; /* Deprecated */
  -webkit-text-decoration-skip: ink; /* Deprecated */
  text-decoration-skip-ink: auto;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Headings */

h1 {
  font-size: 1.5rem;
}

h2, h3 {
  border-bottom: 1px solid #eee;
  padding-bottom: 2px;
}

h2 {
  margin-top: 2rem;
  font-size: 1.25rem;
  counter-reset: counterH3;
}

h2:before {
  content: counter(counterH2) ".";
  counter-increment: counterH2;
  padding-right: 0.5rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.125rem;
}

h3:before {
  content: counter(counterH2) "." counter(counterH3);
  counter-increment: counterH3;
  padding-right: 0.5rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Body copy */

p, ol, ul, dl {
  margin: 1.5rem 0;
}

ul p, ol p {
  margin-left: 0;
}

ol, ul {
  padding-left: 0;
}

ol li,
ul li {
  margin-left: 2.5rem;
  margin-bottom: 1rem;
  padding-left: 0;
}

dt {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

dd {
  margin-bottom: 1rem;
}

blockquote {
  margin: 0;
}

blockquote p {
  background: #f8f8fa;
  padding: 1rem 1.5rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Code */

pre, code {
  font-family: 'Consolas', 'Monaco', 'Droid Sans Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Lucida Console', 'Liberation Mono', 'Courier New', monospace;
  font-size: inherit;
  color: #02a;
}

pre {
  border: 1px solid #ddd;
  padding: 1rem;
  background-color: #fffbf5;
  font-size: 0.9rem;
  border-radius: 2px;
  overflow: auto;
}

pre strong {
  color: green;
}

pre.erroneous {
  background-color: #fff5f5;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Tables */

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.2rem 0.5rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Inline elements */

dfn {
  font-weight: bold;
  font-style: normal;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Hyperlinks */

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Navigation */

#nav {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 0.9rem;
}

#nav p {
  margin: 0 0 0.5rem;
}

#nav p:last-child {
  margin-bottom: 0;
}

#nav strong, #nav a {
  white-space: nowrap;
}

#nav .contents-link {
  font-size: 1rem;
  text-align: right;
  font-weight: bold;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Footer */

#footer {
  margin-top: 3rem;
  padding: 3rem 0;
  border-top: 1px solid #ddd;
  font-size: 0.9rem;
}

#footer p {
  margin: 0;
}

@media (min-width: 30rem) {
  #footer {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

body#contents #footer p {
  margin-bottom: 1rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Table of contents */

#toc li {
  margin-bottom: 0.2rem;
}

#toc ol {
  font-size: 0.9375rem;
  margin: 0.5rem 0;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Sequence navigation */

.sequence-navigation {
  border-top: 1px solid #ddd;
  margin-top: 3rem;
  padding-top: 3rem;
}

.sequence-navigation p {
  margin: 0;
}

.sequence-navigation .prev:before {
  content: "← Vorherige Seite: ";
}

.sequence-navigation .next:before {
  content: " → Nächste Seite: ";
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Sidebox */

.sidebox {
  float: right;
  margin: 1rem -1rem 1rem 1.5rem;
  max-width: 16rem;
  padding: 1rem;

  border: 1px solid #eddb9a;

  box-shadow: 2px 3px 4px #ddd;

  background-image: linear-gradient(to bottom, #FCFC94, #FCEC6C);
  background-color: #FCFC94;
  border-radius: 2px;

  font-size: 0.9rem;
}

.sidebox p {
  margin: 0;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* JavaScript main pillars */

.pillars {
  font-size: 0.9rem;
}

.pillars:after {
  content: " ";
  clear: left;
  display: block;
}

.pillars .base {
  margin: 0 0 1rem;
}

.pillars .pillar {
  float: left;
  width: 32%;
  margin: 0 0 1rem 2%;
}

.pillars .pillar.first {
  margin-left: 0;
}

.pillars .base div,
.pillars .pillar div {
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #bbb;
  background-image: linear-gradient(to bottom, #fff, #f0f0f0);
  background-color: #f0f0f0;
}

.pillars h3, .pillars ul {
  margin: 10px 15px;
}

.pillars h3:before {
  content: "";
  content: none;
  padding: 0;
}

.pillars ul {
  list-style-position: inside;
}

.pillars li {
  margin: 0;
}

.pillars + h2 {
  clear: left;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* JavaScript object visualization */

.js-objects:after {
  content: "";
  display: block;
  clear: both;
}

.js-objects .object {
  float: left;
  margin: 0 1.5rem 1.5rem 0;
  box-shadow: 2px 2px 5px #ccc;
}

.js-objects table {
  margin: 0;
}

.js-objects h3 {
  margin: 0;
  padding: 0.3em 0.3em 0.1em;
  border-style: solid solid none;
  border-width: 1px;
  border-color: #ccc;
  background-color: #f0f0f0;
  color: black;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
}

.js-objects h3:before {
  content: none;
}

.js-objects th,
.js-objects td {
  border: 1px solid #ccc;
  font-size: 0.75rem;
  padding: 0.3em 0.5em 0.2em;
  line-height: 1.2;
}

.js-objects th {
  text-align: left;
  font-weight: normal;
}

.js-objects .internal th,
.js-objects .internal td {
  color: #600;
  background-color: #fffbfb;
}

.js-objects .dontenum th,
.js-objects .dontenum td {
  color: gray;
  background: #fafafa;
}

.js-objects .own th,
.js-objects .own td {
  color: #007;
  background-color: #f0f0ff;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Table with commented code */

.commented-code {
  margin: 2rem -6rem;
  font-size: 0.9rem;
}

.commented-code td,
.commented-code pre {
  border-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.commented-code td {
  padding: 0.2rem 0.5rem;
  border-style: solid none;
  border-color: #ddd;
}

.commented-code td:first-child {
  background-color:#FFFAEB;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* References */

.references {
  background-color: #fffafa;
  border: 1px solid #dadada;
  border-radius: 2px;
}

.references h2,
.references h3 {
  margin: 0;
  padding: 0.5rem 0 0.5rem 1.3rem;
  border-color: #dadada;
}

.references h2:before,
.references h3:before {
  content: "";
  content: none;
}

.references ul {
  margin: 1.5rem 0;
}

.references li {
  margin: 0.2rem 0 0.2rem 2.625rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Scope */

.js-scope {
  padding: 1rem;
  border: 2px solid #aaa;
  border-radius: 2px;
}

.js-scope p {
  margin: 0;
}

p + .js-scope {
  margin-top: 1rem;
}

.js-scope-global {
  border-color: maroon;
}

.js-scope-function {
  border-color: green;
}

.js-scope-block {
  border-color: blue;
}
