p {
	max-width: 50em;
}

li {
	margin: 0;
}

pre {
	font-size: 90%;
}

pre strong {
	background-color: #f5f5ff;
	padding: 2px 3px;
	-moz-box-shadow: 0 0 2px #ccc;
}

dfn {
	font-style: normal;
	font-weight: bold;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.sidebox {
	float: right;
	margin-right: 1em;
	max-width: 15em;
	padding: 1em;
	
	border: 1px solid #eddb9a;
	
	-moz-box-shadow: -3px 3px 3px #ccc;
	-webkit-box-shadow: -3px 3px 3px #ccc;
	box-shadow: -3px 3px 3px #ccc;
	
	background-image: -moz-linear-gradient(19% 75% 45deg, #FCFC94, #FCEC6C);
	background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, from(#FCEC6C), to(#fcfc94));
	background-color: #FCFC94;
	
	/* -moz-transform: rotate(3deg); */
	-webkit-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

.sidebox p {
	margin: 0;
	font-size: 85%;
	line-height: 1.5;
	font-family: Cambria,Georgia,serif;
	color: #393525;
	text-shadow: 0 1px 1px #fff5f0;
}

/*
.sidebox:before {
	float: left;
	margin-left: -1.5em;
	content: "☞";
	line-height: .5;
	font-size: 3.5em;
	font-family: arial, arial unicode ms, times new roman, georgia, verdana;
	-webkit-transform: rotate(-3deg);
}
*/

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.pillars {
	font-size: 90%;
}

.pillars:after {
	content: " ";
	clear: left;
	display: block;
}

.pillars .base {
	margin: 0 0 1em;
	max-width: 68em;
}

.pillars .pillar {
	float: left;
	max-width: 22em;
	margin-right: 1em;
	margin-bottom: 1em;
}

.pillars .base,
.pillars .pillar {
	border: 1px solid #999;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-moz-box-shadow: 2px 2px 2px #bbb;
	-webkit-box-shadow: 2px 2px 2px #bbb;
	box-shadow: 2px 2px 2px #bbb;
	
	background-image: -moz-linear-gradient(0% 100% 90deg, #f0f0f0, #FFFFFF);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#f0f0f0));
}

.pillars h3, .pillars ul {
	margin: 10px 20px;
}

.pillars ul {
	padding-left: 1em;
}

.pillars + h2 {
	clear: left;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.js-objects:after {
	content: "";
	display: block;
	clear: both;
}

.js-objects .object {
	float: left;
	margin: 0 20px 0 0;
	-moz-box-shadow: 2px 2px 5px #ccc;
	-webkit-box-shadow: 2px 2px 5px #ccc;
	box-shadow: 2px 2px 5px #ccc;
}

.js-objects table {
	margin: 0;
}

.js-objects h2 {
	margin: 0;
	padding: 0.3em 0.3em 0.1em;
	font-size: 90%;
	font-family: inherit;
	border-style: solid solid none;
	border-width: 1px;
	border-color: gray;
	background-color: #f0f0f0;
}

.js-objects th,
.js-objects td {
	font-size: 75%;
	padding: 0.3em 0.5em 0.2em;
	line-height: 1.2;
}

.js-objects .internal th,
.js-objects .internal td {
	color: #600;
	background-color: #fffbfb;
}

.js-objects .dontenum th,
.js-objects .dontenum td {
	color: gray;
	background: #fafafa;
}

.js-objects .own th,
.js-objects .own td {
	color: #007;
	background-color: #f0f0ff;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.commented-code td,
.commented-code pre {
	border-style: none;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.commented-code td {
	padding: .2em .5em;
	border-style: solid none;
	border-color: #ddd;
}

.commented-code td:first-child {
	background-color:#F8FAFF;
	padding-right: 1em;
}